.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    width: 100%;
}

@media screen and (max-width: 1250px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
    }
}

@media screen and (max-width: 765px) {
    .place__title {
        font-size: 32px;
        line-height: 109%;
        width: calc(100% - 32px);
        order: 1;
    }
}