.cover__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
}

@media screen and (max-width: 765px) {
    .cover__text {
        font-size: 14px;
        line-height: 114%;
    }
}