.place__artist {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    width: 80%;
}

@media screen and (max-width: 1250px) {
    .place__artist {
        width: 100%;
    }
}

@media screen and (max-width: 765px) {
    .place__artist {
        width: 100%;
    }
}